@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar CSS */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(249, 246, 246, 1);
    width: 100%; 
    height: 56px;
}

.nav-main1, .nav-main2 {
    display: flex;
    align-items: center;
}

.nav-main1 {
    gap: 16.2px; 
}

.nav-main2 {
    background: linear-gradient(90deg, #FFE0E0 1.36%, #FF6464 86.49%);
    justify-content: flex-end;
    width: 81%; 
    height: 56px;
    gap: 16.2px; 
    padding-right: 16.2px;
}

.menu, .logo {
    width: auto;
    height: auto;
    padding: 0;
}

.menu {
    width: 19.4px; 
    height: 19.4px; 
    margin-left: 16.2px; 
}

.logo {
    width: 33.3px; 
    height: 21px;
}

.mng {
    width: 176.4px; 
    height: 17.8px; 
  

    /* Typography */
    font-family: Roboto, sans-serif;
    font-size: 16.2px; 
    font-weight: 450; 
    line-height: 18.9px;
    text-align: left;
    color: rgba(52, 53, 113, 1);
    border-radius: 4px;
}

.nav-item1, .nav-item2 {
    display: flex;
    align-items: center;
    gap: 2.43px; 
}

.nav-item1 img, .nav-item2 img {
    width: 19.4px; 
    height: 19.4px; 
}

.arrow {
    width: 12.96px; 
    height: 12.96px;
   
    padding: 5.1px 3.19px 3.75px 3.19px; 
}

.nav-item1 p, .nav-item2 p {
    font-family: Roboto, sans-serif;
    font-size: 11.8px;
    text-transform: capitalize;
    margin: 0;
    color: white;
}

.nav-item3 .profile-circle {
    width: 29.16px; 
    height: 29.16px; 
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 11.8px; 
    font-weight: 72; 
    color: #FF6464;
}

.main {
    display: flex;
}

/* Side Nav CSS */

.side-nav {
    width: 72.9px; 
    height: 736.6px;
    background: linear-gradient(179.66deg, #8B4367 0.09%, #343571 99.86%);
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

.side-nav img {
    width: 64.8px;
    height: 40.5px; 
    border: 1px;
   
}

/* Key Metrics CSS */



.key-metrics .child1 {
    font-family: Roboto, sans-serif;
    font-size: 15.6px; 
    font-weight: 450; 
    line-height: 28.5px; 
    color: rgba(255, 255, 255, 1);
    padding-left: 2.9px; 
    margin: 3.6px; 
    width: 310.5px; 
    height: 35px; 
    border-radius: 5.8px; 
    background: linear-gradient(100.36deg, rgba(255, 162, 162, 0.5) 1.92%, rgba(255, 184, 223, 0.5) 100.29%);
    border: 1px solid black;
}

.child2{
width: 310.5px;
height: 35px;
margin-top: 5px;
border-radius: 5.8px;
border:1px;
padding-left: 2.9px;
background: rgba(204, 204, 220, 0.35);
}
.child2 .sub-child1{

height: 14px;
font-family: Roboto;
font-size: 8px;
font-weight: 400;
line-height: 14.06px;
color: rgba(119, 119, 119, 1);

}
.reg{
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 13.13px;
text-align: center;

}
.time{
height: 35px;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 13.16px;
color: rgba(255, 100, 100, 1);

}

.child2 .sub-child2{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    
}


.visits{
width: 308.5px;
height: 100px;
display: flex;
justify-content: space-around;
margin-left: 5px;
border-radius: 15px;
border: 0.5px 0px 0px 0px;
background: rgba(103, 103, 149, 1);
border: 0.5px solid rgba(221, 221, 221, 1);
box-shadow: 2px 2px 4px 0px rgba(204, 204, 204, 0.25);
box-shadow: -2px -2px 4px 0px rgba(204, 204, 204, 0.25);
}

.visits-child{
width: 81px;
height: 15px;
font-family: Roboto;
font-size: 10px;
font-weight: 500;
line-height: 18.75px;
text-align: left;
color: rgba(255, 255, 255, 1);

}


.visits-child2,.visit-sub-child2{
 width: 90px;
height: 52px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.3);
}
.visit-sub-child2{
    background: rgba(255, 249, 249, 1);
   


}
.visits-child2 span,.visit-sub-child2 span{ 
width: 77px;
height: 49px;
opacity: 0px;
font-family: Roboto;
font-size: 30px;
font-weight: 700;
color: rgba(255, 249, 249, 1);
}
.visit-sub-child2 span{
    color: rgba(255, 100, 100, 1);
}
.visits-child2{
    margin-top: 18px;
}
.main-container{
    display: flex;
    margin: 5px;
}
.child-container{
width: 150px;
height: 75px;
margin-left: 5px;
border-radius: 4px;
background: rgba(232, 217, 225, 0.3);

}
.child-container .sub-child p{
font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 32.81px;
text-align: left;

}
.insurance{
width: 79px;
height: 16px;
color: rgba(139, 67, 103, 1);
}
.insurance p{
width: 62px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16.41px;
text-align: left;
color: rgba(139, 67, 103, 1);


}
.child-container .sub-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child-container .sub-child .num1{
    color: rgba(139, 67, 103, 1);
}



/* Zone Statistics CSS */
#container {
    display: flex;
    flex-direction: column;
   
}
.first-row, .second-row {
    display: flex;
    gap: 5px; 
}
.zone-statistics {
    flex: 1;
}



.zone-statistics {
    display: flex;
    padding: 10px;
    width: 515.1px;
    height: 240.8px;
    border-radius: 2.9px;
    border: 1px solid;
    box-sizing: border-box; 
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.1);
box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);

}
.zone-head {
    height: 26.7px;
    margin-bottom: 5px; 
    border-radius: 5.6px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.9px; 
    background: rgba(103, 103, 149, 1);
    border-left: 2.9px solid rgba(1, 2, 78, 1);
    width: 100%; 
    box-sizing: border-box; 
}

.zone-head p {
    width: auto; 
    height: auto; 
    margin: 0;
    font-family: Roboto;
    font-size: 13.8px; 
    font-weight: 630; 
    line-height: 20.9px; 
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.zone-statistics-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    height: 26.1px;
    margin-top: 5px; 
    padding-left: 10px; 

    box-sizing: border-box; 
    background: rgba(235, 235, 255, 1);
}

.zone-statistics-data img {
    width: 16.4px; 
    height: 14.7px;
    opacity: 0.8px;
}

.zone-statistics-data p {
    font-family: Roboto;
    font-size: 11.4px;
    font-weight: 630;
    line-height: 18.08px; 
    color: rgba(119, 119, 119, 1);
    margin-right: 8px;
}

/* Specific class adjustments if needed */
.green-head, .red-head, .yellow-head {
    width: 110.3px;
    height: 26.7px; 
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-left: 3.6px; 
    padding: 4.9px 21.2px 4.9px 21.2px; 
    gap: 8.1px; 
    border-radius: 8.1px; 
    font-family: Roboto;
    font-size: 11.6px; 
    font-weight: 630; 
    line-height: 17.1px; 
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.green-head {
    background: rgba(114, 192, 144, 1);
}

.yellow-head {
    background: rgba(242, 157, 65, 1);
}

.red-head {
    background: rgba(255, 100, 100, 1);
}

.green-zone p, .yellow-zone p, .red-zone p {
    width: 110.5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26.1px; 
    margin-top: 5.4px;
    margin-left: 3.6px; 
    border-radius: 8.1px; 
    opacity: 0px;
    font-family: Roboto;
    font-size: 10.2px; 
    font-weight: 600;
    line-height: 16.98px; 
    text-align: center;
    color: rgba(119, 119, 119, 1);
}

.green-zone p {
    background: rgba(198, 240, 194, 0.5);
    
}

.yellow-zone p {
    background: rgba(245, 190, 103, 0.5);
}

.red-zone p {
    background: rgba(255, 224, 224, 0.6);
}

/* Triage Chart CSS */

.chart-traige-interval,
.chart-traige-zone,
.chart-patient-interval,
.chart-patient-doctor {
    flex: 1; /* Each chart will have equal width */
    margin-left: 5px;
    border: 0.5px solid rgba(221, 221, 221, 1);
   margin-top: 3px;
   border-radius: 8px;
}



/* last Container */

.last-container{
    display: flex;
    justify-content: space-between; 
    padding: 5px;
   
}
.last-container .child-1{
width: 177px;
height: 240px;
border-radius: 4px 0px 0px 0px;
border: 0.5px 0px 0px 0px;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
border: 0.5px solid rgba(221, 221, 221, 1);
background: rgba(255, 249, 249, 1);

}

.child-2 .sub-child1,.child-2 .sub-child2{
width: 300px;
height: 116px;
margin-top: 4px;
border-radius: 4px 0px 0px 0px;
border: 0.5px 0px 0px 0px;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);


}
.last-container .child-3{
width: 330px;
height: 240px;;
border-radius: 8px 0px 0px 0px;

}
.clock{
width: 8px;
height: 8px;
color: rgba(170, 170, 170, 1);

}
.clock2{
    width: 15px;
    height: 15px;
    color: rgba(170, 170, 170, 1);
}
.child1 .waiting{
width: 90px;
height: 90px;
}
.zone-clock-p{
width: Hug (78px)px;
height: Hug (21px)px;
padding: 1px 10px 1px 10px;
gap: 10px;
border-radius: 24px 0px 0px 0px;
background-color: rgba(255, 255, 255, 1);

}
.last-container .child-1 .sub-child-1{
width: 50px;
height: 20px;
font-family: Roboto;
font-size: 12px;
font-weight: 600;
line-height: 23.44px;
text-align: center;
color: rgba(204, 204, 204, 1);
padding-left: 5px;

}
.last-container .child-1 .sub-child-2{
width: 157px;
height: 28px;
font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 28.13px;
text-align: center;

    color: rgba(255, 100, 100, 1)
}
.child-1 .waiting img{
width: 139.06px;
height: 122.5px;
margin-top: 30px;
}
.child-2  .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
}
.child-2 .sub-child1 .triage{
background: linear-gradient(180deg, rgba(84, 56, 100, 0.9) 0%, rgba(118, 96, 131, 0.9) 100%);
width:auto;
height: 50px;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 18.75px;

color: rgba(255, 255, 255, 1);

}
.child-2 .sub-child2 .consultation{
width: auto;
height: 50px;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
background: linear-gradient(180deg, rgba(139, 67, 103, 0.8) 0%, rgba(139, 67, 103, 0.8) 100%);
color: rgba(255, 255, 255, 1);


}
.time .sub-time1{
    width: 67px;
height: 68px;
font-family: Roboto;
font-size: 38px;
font-weight: 700;
line-height: 67.97px;
text-align: center;
color: rgba(153, 153, 153, 1);

}
.time .sub-time2{
width: 117px;
height: 53px;
font-family: Roboto;
font-size: 25px;
font-weight: 700;
line-height: 52.73px;
text-align: left;
color: rgba(255, 100, 100, 0.7);

}
.child-3{
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25);

}
.child-3 .sub-child-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(100.36deg, rgba(103, 103, 149, 0.56) 1.92%, rgba(103, 103, 149, 0.56) 1.93%, rgba(235, 235, 255, 0.7) 100.29%);
    padding:5px;
    height: 60px;

}
.doctorTitle{
font-family: Roboto;
font-size: 19px;
font-weight: 700;
line-height: 20.5px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: rgba(248, 248, 255, 1);

}

th, td {
    padding: 5px;
    border: 1px 0px 1px 0px solid #ddd;
    text-align: left;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.09px;
    


    
}

th {
    background: rgba(248, 248, 255, 1);

    font-weight: bold;
    
}

tr {
    border-bottom: 1px solid #ddd;
}

.custom-row-style {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(248, 248, 255, 1);
    border: 1px solid black;
    margin-bottom: 5px;
}

#search {
    padding: 5px;
    margin: 10px 0;
    width: 90%;
    box-sizing: border-box;
}

#paginationControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 8px;
}

.page-number {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 5px;
}

.page-number.active {
    background: rgba(103, 103, 149, 1);
    color: white;
    border: 1px rgba(103, 103, 149, 1);

}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}




